*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
  background: rgb(73, 37, 27);
}
  .grid-1 {
    display: grid;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    /* background: #3d270b; */
    background:url('imgs/fondo.jpg');
    background-position: center;
    background-size: cover;    

    
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: 26% 5fr 45fr 1fr;
    grid-gap: 10px;
    
    grid-template-areas: "header   header   header  control"
                         "main     main     sidebar control"
                         "footer   footer   footer  control";
  }
  
  #pc{
    padding: 20px 5px;      
    background: #237a23;
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    
  }

  #tiradas {
    background: #237a23;
    grid-area: main;
    border-radius: 10px;
  }
  #mazo {
    /* background: #79490b; */
    grid-area: sidebar;
    border-radius: 10px;
    background:url('imgs/fondo.jpg');
  }
  #user {
    padding: 20px 5px;      
    background: #237a23;
    grid-area: footer;

  }

  #controles {
    background: #f0ca6d;
    grid-area: control;
    border-style: groove; 
    border-width: 6px;
    max-width: 600px;
  }
  
  .cartaspc{
      width: 100px;
      background: rgb(170, 115, 126);
      height: 150px;
      margin: 1% auto;
  }

  #cards_area{
      width: 250px;
      height: 200px;
      border: solid 3px #fff;
      border-style: dashed;
      margin: 4% auto;
      border-radius: 10px;
  }

  #tiradas div{
      margin-left: 40%;
      margin-top: 7%;
      width: 150px;
      height: 190px;      
      border: solid 2px;
      border-radius: 5px;
      transform: rotate(90deg);
      
  }

  #tiradas div img{
    width: 100%;
    height: 100%;
  }

  #mazo_cards{
    width: 100px;
    height: 150px;
    margin: 20% auto;
    border-radius: 10px;
    background: chocolate;
  }
  
  #mazo_cards img{
    position: absolute;
    width: 100px;
    height: 150px;      
    border: solid 2px #000;
    border-radius: 5px;
    
}

#user div, #pc div{
    width: 75px;
    height: 110px;      
    border: solid 2px;
    border-radius: 5px;
    float: left;
     
}

#user div img, #pc div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.soltar{
  animation: 1.5s balanceo 1;
}


@keyframes balanceo{
  50%{
    -webkit-transform: rotate(360deg);
  }

}

#pc div .desapear{
  animation: fadeOut 3s;
}

#user div .apear,#pc div .apear{
  animation: fadeIn 3s;
}

@keyframes fadeIn{
   from{opacity: 0;}
   to{opacity: 1;}
}

@keyframes fadeOut{
  from{opacity: 1;}
  to{opacity: 0;}
}

#mazo_cards div img.take:hover{
  animation: 0.5s tomar_card 1;
}

@keyframes tomar_card{
  30%{
    -webkit-transform: rotate(10deg);
  }

  70%{
    -webkit-transform: rotate(-10deg);
    
  }

}

#welcome h1{
  text-align: center;
  margin-top: 40px;
  color: brown;

}

.botones{
  /* background: #fff; */
  padding: 20px;
  display: grid;
  margin-top: 1%;
}

.botones input[type='button']{
  margin: 5px;
  height: 25px;
  border-radius: 10px;
  background: cadetblue;
  border-style: none;
  font-size: 15px;
}

.botones input[type='button']:hover{
  background: rgb(93, 184, 187);
}

.botones input[type='button']:active{
  font-weight: bold;

}

div#mensajes{
  /* display: grid; */

  margin-top:40px; 
  padding: 5px;
  /* height: 1fr; */
}

div#mensajes h3{
  text-align: center;
  font-weight: bolder;
}

.instrucciones section{
  background: #fff;
  width: 80%;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  font-size: 13px;
  border-radius: 10px;
} 

#controles{
  max-width: 500px;
  margin-right: 0px;
}
